In [1]:
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_csv('Students.csv')
df

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
0,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,ChatGPT,3.4,Learning new topics,3,-3,Yes,Other,6,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,Copilot,3.6,"MCQ Practice, Projects",5,0,No,Gemini,1,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,Copilot,2.9,Content Writing,5,2,Yes,Gemini,5,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,Gemini,0.9,"Doubt Solving, Resume Writing",1,3,Yes,Other,8,Yes,Uttarakhand,Laptop,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3609,Ishaan,"St. Mira's College for Girls, Pune",Commerce,1,"ChatGPT, Copilot",4.3,"Doubt Solving, Resume Writing",2,2,Yes,Other,2,No,NaN,Mobile,High
3610,Rudra,Roorkee College of Pharmacy,Pharmacy,3,Copilot,3.0,Content Writing,2,1,No,Copilot,5,Yes,NaN,Tablet,Poor
3611,Dhruv,"Bahona College, Jorhat",Agriculture,3,Gemini,2.7,"Exam Prep, Notes",2,1,Yes,Copilot,3,No,NaN,Tablet,Poor
3612,Kabir,Sree Chitra Thirunal College of Engineering,Engineering,4,Gemini,2.7,"Exam Prep, Notes",3,3,Yes,Gemini,3,No,NaN,Laptop,High
3613,Atharv,"Poona College of Pharmacy, Pune",Pharmacy,3,Copilot,0.9,"Exam Prep, Notes",1,2,No,Copilot,2,No,NaN,Mobile,High

In [3]:
df.isnull().sum()

Student_Name                    0
College_Name                    0
Stream                          0
Year_of_Study                   0
AI_Tools_Used                   0
Daily_Usage_Hours               0
Use_Cases                       0
Trust_in_AI_Tools               0
Impact_on_Grades                0
Do_Professors_Allow_Use         0
Preferred_AI_Tool               0
Awareness_Level                 0
Willing_to_Pay_for_Access       0
State                        1614
Device_Used                     0
Internet_Access                 0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3614 entries, 0 to 3613
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Student_Name               3614 non-null   object
 1   College_Name               3614 non-null   object
 2   Stream                     3614 non-null   object
 3   Year_of_Study              3614 non-null   int64
 4   AI_Tools_Used              3614 non-null   object
 5   Daily_Usage_Hours          3614 non-null   float64
 6   Use_Cases                  3614 non-null   object
 7   Trust_in_AI_Tools          3614 non-null   int64
 8   Impact_on_Grades           3614 non-null   int64
 9   Do_Professors_Allow_Use    3614 non-null   object
 10  Preferred_AI_Tool          3614 non-null   object
 11  Awareness_Level            3614 non-null   int64
 12  Willing_to_Pay_for_Access  3614 non-null   object
 13  State                      2000 non-null   object
 14  Device_Used                3614 non-null   object
 15  Internet_Access            3614 non-null   object
dtypes: float64(1), int64(4), object(11)
memory usage: 451.9+ KB

In [5]:
df['State'].value_counts()

State
Maharashtra          106
Uttar pradesh         96
Rajasthan             94
Punjab                93
Andhra pradesh        90
Karnataka             90
Kerala                88
Gujarat               85
Tamil nadu            85
Chhattisgarh          81
Madhya pradesh        79
West bengal           79
Assam                 79
Haryana               79
Bihar                 75
Uttarakhand           71
Delhi ncr             70
Telangana             64
Orissa                62
Jammu                 59
Himachal pradesh      58
Jharkhand             52
Chandigarh            41
Goa                   35
Meghalaya             35
Arunachal pradesh     35
Nagaland              24
Puducherry            23
Manipur               20
Tripura               19
Sikkim                16
Mizoram               10
Andaman                5
Dadra                  2
Name: count, dtype: int64

In [6]:
df['State'].fillna('No Info', inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_34684\1006214470.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['State'].fillna('No Info', inplace=True)

In [7]:
df.head()

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
0,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,ChatGPT,3.4,Learning new topics,3,-3,Yes,Other,6,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,Copilot,3.6,"MCQ Practice, Projects",5,0,No,Gemini,1,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,Copilot,2.9,Content Writing,5,2,Yes,Gemini,5,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,Gemini,0.9,"Doubt Solving, Resume Writing",1,3,Yes,Other,8,Yes,Uttarakhand,Laptop,Medium

In [8]:
df['Preferred_AI_Tool'].unique()

array(['Copilot', 'Other', 'Gemini', 'ChatGPT', 'Bard', 'Claude'],
      dtype=object)

In [9]:
df.columns

Index(['Student_Name', 'College_Name', 'Stream', 'Year_of_Study',
       'AI_Tools_Used', 'Daily_Usage_Hours', 'Use_Cases', 'Trust_in_AI_Tools',
       'Impact_on_Grades', 'Do_Professors_Allow_Use', 'Preferred_AI_Tool',
       'Awareness_Level', 'Willing_to_Pay_for_Access', 'State', 'Device_Used',
       'Internet_Access'],
      dtype='object')

In [10]:
df['AI_Tools_Used'].unique()

array(['Gemini', 'ChatGPT', 'Copilot', 'ChatGPT, Gemini, Copilot',
       'ChatGPT, Copilot', 'Gemini, Midjourney', 'Other', 'Bard',
       'Claude'], dtype=object)

In [11]:
df['Stream'].unique()

array(['Engineering', 'Commerce', 'Science', 'Arts', 'Medical',
       'Management', 'Law', 'Pharmacy', 'Agriculture', 'Hotel-management'],
      dtype=object)

In [12]:
df['Student_Name'].value_counts()

Student_Name
Aarav        91
Vivaan       91
Aditya       91
Vihaan       91
Arjun        91
Sai          91
Reyansh      91
Ayaan        91
Krishna      91
Ishaan       91
Rudra        91
Dhruv        91
Kabir        91
Atharv       91
Om           90
Anaya        90
Siya         90
Diya         90
Myra         90
Aadhya       90
Riya         90
Pari         90
Anika        90
Ira          90
Meera        90
Saanvi       90
Navya        90
Aarohi       90
Prisha       90
Ishita       90
Rakhi        90
Ramya        90
Sneha        90
Divya        90
Neha         90
Pooja        90
Kavya        90
Aishwarya    90
Shreya       90
Nandini      90
Name: count, dtype: int64

In [13]:
df['Year_of_Study'].unique()

array([4, 2, 1, 3])

In [14]:
df['Device_Used'].unique()

array(['Mobile', 'Laptop', 'Tablet'], dtype=object)

In [15]:
df['AI_Tools_Used'].value_counts()

AI_Tools_Used
ChatGPT                     626
Gemini                      612
Copilot                     585
ChatGPT, Copilot            505
ChatGPT, Gemini, Copilot    426
Gemini, Midjourney          371
Claude                      171
Other                       167
Bard                        151
Name: count, dtype: int64

In [16]:
df.head()

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
0,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,ChatGPT,3.4,Learning new topics,3,-3,Yes,Other,6,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,Copilot,3.6,"MCQ Practice, Projects",5,0,No,Gemini,1,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,Copilot,2.9,Content Writing,5,2,Yes,Gemini,5,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,Gemini,0.9,"Doubt Solving, Resume Writing",1,3,Yes,Other,8,Yes,Uttarakhand,Laptop,Medium

In [17]:
df['College_Name'].value_counts()

College_Name
National Institute of Technology               231
Indian Institute of Technology                 170
Indian Institute of Management                  64
Indian Institute of Information Technology      60
Institute of Hotel Management                   19
                                              ...
Shershah College of Engineering                  1
S. V. Agricultural College                       1
Government Degree College, Doda                  1
St. Xavier's College                             1
CT Group of Institutions, Jalandhar              1
Name: count, Length: 1246, dtype: int64

In [18]:
df.head()

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
0,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,ChatGPT,3.4,Learning new topics,3,-3,Yes,Other,6,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,Copilot,3.6,"MCQ Practice, Projects",5,0,No,Gemini,1,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,Copilot,2.9,Content Writing,5,2,Yes,Gemini,5,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,Gemini,0.9,"Doubt Solving, Resume Writing",1,3,Yes,Other,8,Yes,Uttarakhand,Laptop,Medium

In [19]:
def ai_tools(para):
        if ', ' in para:
            para = para.replace(', ',',')  
            return para
        else:
            return para
    
df['AI_Tools_Used'] = df['AI_Tools_Used'].apply(ai_tools)
ai_counter = Counter()
for tools in df['AI_Tools_Used']:
    ai_counter.update(tools.split(','))
ai_tool=[]
tools_usage=[]
for k,v in ai_counter.items():
    ai_tool.append(k)
    tools_usage.append(v)

print(ai_tool)
tools_usage

['Gemini', 'ChatGPT', 'Copilot', 'Midjourney', 'Other', 'Bard', 'Claude']

[1409, 1557, 1516, 371, 167, 151, 171]

In [20]:
def use_case(para):
        if ', ' in para:
            para = para.replace(', ',',')  
            return para
        else:
            return para
    
df['Use_Cases'] = df['Use_Cases'].apply(use_case)
use_counter=Counter()
for c in df['Use_Cases']:
    use_counter.update(c.split(','))
usage=[]
n_usage=[]
for k,v in use_counter.items():
    usage.append(k)
    n_usage.append(v)

In [21]:
df

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
0,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments,Coding Help",2,2,No,Copilot,9,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,ChatGPT,3.4,Learning new topics,3,-3,Yes,Other,6,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,Copilot,3.6,"MCQ Practice,Projects",5,0,No,Gemini,1,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,Copilot,2.9,Content Writing,5,2,Yes,Gemini,5,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,Gemini,0.9,"Doubt Solving,Resume Writing",1,3,Yes,Other,8,Yes,Uttarakhand,Laptop,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3609,Ishaan,"St. Mira's College for Girls, Pune",Commerce,1,"ChatGPT,Copilot",4.3,"Doubt Solving,Resume Writing",2,2,Yes,Other,2,No,No Info,Mobile,High
3610,Rudra,Roorkee College of Pharmacy,Pharmacy,3,Copilot,3.0,Content Writing,2,1,No,Copilot,5,Yes,No Info,Tablet,Poor
3611,Dhruv,"Bahona College, Jorhat",Agriculture,3,Gemini,2.7,"Exam Prep,Notes",2,1,Yes,Copilot,3,No,No Info,Tablet,Poor
3612,Kabir,Sree Chitra Thirunal College of Engineering,Engineering,4,Gemini,2.7,"Exam Prep,Notes",3,3,Yes,Gemini,3,No,No Info,Laptop,High
3613,Atharv,"Poona College of Pharmacy, Pune",Pharmacy,3,Copilot,0.9,"Exam Prep,Notes",1,2,No,Copilot,2,No,No Info,Mobile,High

In [22]:
df['State'].unique()

array(['Uttar pradesh', 'Chhattisgarh', 'Uttarakhand', 'Delhi ncr',
       'Punjab', 'Chandigarh', 'Puducherry', 'Rajasthan', 'Meghalaya',
       'Jharkhand', 'Maharashtra', 'Tamil nadu', 'Manipur',
       'Arunachal pradesh', 'Telangana', 'Orissa', 'Bihar',
       'Madhya pradesh', 'Himachal pradesh', 'Kerala', 'Gujarat', 'Assam',
       'Jammu', 'Nagaland', 'Karnataka', 'Haryana', 'West bengal',
       'Andhra pradesh', 'Goa', 'Tripura', 'Sikkim', 'Mizoram', 'Andaman',
       'Dadra', 'No Info'], dtype=object)